/* SWIPER */
.swiper {
  max-height: 400px;
}
.mySwiper .swiper-slide {
  margin: 5px 0;
}
.mySwiper .swiper-slide img {
  display: block;
  max-width: 60px;
}
.mySwiperControls .swiper-slide img {
  display: block;
  max-height: 400px;
}
.mySwiper .swiper-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .swiper-slide {
    min-width: 60px;
  }
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1 !important;
  border-left: 2px solid var(--accent);
}
.mySwiper .swiper-slide {
  opacity: 0.4;

  &:hover {
    cursor: pointer;
  }
}
